$radius: 4px;
$radius-small: 2px;

$input-color: $grey-lighter;
$input-icon-color: $grey;
$input-icon-active-color: $input-color;
$input-hover-color: $grey-light;
$input-background-color: $grey-dark;
$input-disabled-color: $grey-light;
$input-disabled-border: $grey-lighter;
$input-disabled-background-color: $grey-darker;
$input-disabled-border: $grey-light;

$bulmaswatch-import-font: false;
